Data_Mandel_and_Broekgaarden_2021/*
__pycache__* 
*.csv
.DS_Store
plottingCode/Make_figures_Mandel_and_Broekgaarden_2021_COC_rates_review-Copy1.ipynb
plottingCode/.ipynb_checkpoints/OLDESTmake_Figure_1-checkpoint.ipynb
plottingCode/.ipynb_checkpoints/Make_figures_Mandel_and_Broekgaarden_2021_COC_rates_review-Copy1-checkpoint.ipynb
plottingCode/.ipynb_checkpoints/Make_figures_Mandel_and_Broekgaarden_2021_COC_rates_review-checkpoint.ipynb
plottingCode/.ipynb_checkpoints/make_Figure_1-BPS-paramet-checkpoint.ipynb
